.dbg {
    padding: 1rem 0;
    margin: 0.5rem 0;
    background-color: chartreuse;
    height: 20px;
    border: 2px solid black;
}

h1 {
    font-weight: 600;
    font-size: 4rem
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}
p {
    font-size: 1.3rem;
}

nav li {
    font-size: 0.9rem;
}

.portfolio img {
    height: auto;
}

.about i {
    font-size: 2rem;
}
/* Blue lines */
.blueline {
    width: 11rem;
    height: 3px;
    border-radius: 10px;
}
.about .blueline {
    width: 8rem;
}
/* /END/ Blue lines */

/* Buttons */
.d_btn {
    font-size: 1.3rem;
}
/* /END/ buttons */

/* CSS Utilities */
.bg_darkblue {
    background-color: #2c3e50;
}
.bg_acqua {
    background-color: #1abc9c;
}
.txt_darkblue {
    color: #2c3e50;
}
/* /END/ CSS utilities */

@media screen and (max-width: 575px) {
    h1, 
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    .blueline {
        width: 3.8rem;
    }
    .about .blueline {
        width: 4rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .blueline {
        width: 5.8rem;
    }
    .about .blueline {
        width: 6rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .blueline {
        width: 7.5rem;
    }
    .about .blueline {
        width: 5rem;
    }
}