.dbg {
    padding: 1rem 0;
    margin: 0.5rem 0;
    background-color: chartreuse;
    height: 20px;
    border: 2px solid black;
}

h1 {
    font-weight: 600;
    font-size: 4rem
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}
p {
    font-size: 1.3rem;
}

nav li {
    font-size: 0.9rem;
}

.portfolio img {
    height: auto;
}

.about i {
    font-size: 2rem;
}

/* form */
.form-control {
    padding-left: 0;
    border: 0;
    border-radius: 0;
    padding: 1.5rem 0;
}
.form-control::placeholder {
    color: #2c3e50;
    font-size: 1.2rem;
    font-weight: 600;
}
 /* /END/ form */

 /****** Footer ******/
 /* Footer top */
 footer i {
    border-radius: 50px;
    padding: 0.8rem;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
 }

/* Blue lines */
.blueline {
    width: 11rem;
    height: 4px;
    border-radius: 10px;
}
.about .blueline,
.form .blueline  {
    width: 8rem;
}
/* /END/ Blue lines */

/* Buttons */
.d_btn,
.f_btn {
    font-size: 1.3rem;
}
/* /END/ buttons */

/* CSS Utilities */
.bg_darkblue {
    background-color: #2c3e50;
}
.bg_lightblue {
    background-color: #3a546d;
}
.bg_acqua {
    background-color: #1abc9c;
}
.txt_acqua {
    color: #1abc9c;
}
.txt_darkblue {
    color: #2c3e50;
}
/* /END/ CSS utilities */

@media screen and (max-width: 575px) {
    h1, 
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    .blueline {
        width: 3.8rem;
    }
    .about .blueline {
        width: 4rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .blueline {
        width: 5.8rem;
    }
    .about .blueline,
    .form .blueline {
        width: 6rem;
    }
    footer i {
        border-radius: 50px;
        padding: 1.3rem 0.8rem;
        font-size: 1.5rem;
        height: 4rem;
        width: 4.1rem;
     }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    footer h3 {
        font-size: 1.3rem;
    }
    footer p {
        font-size: 1rem;
    }
    .blueline {
        width: 7.5rem;
    }
    .about .blueline,
    .form .blueline {
        width: 5rem;
    }
    footer i {
    border-radius: 50px;
    padding: 0.8rem;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
 }

}